@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 50px;
  background-color: #33363c;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
.button:hover {
  background-color: #fd706c;
}
.button:active {
  background-color: #dd423d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 0;
  background-color: #ffffff;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
}
.header .container {
  max-width: 1472px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header__logo {
  position: relative;
  z-index: 10;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 60px;
  height: auto;
}
.header__logo-link-text {
  display: inline-block;
  font-weight: 900;
  font-size: 24px;
  line-height: 108%;
  color: #303030;
}
@media (max-width: 576px) {
  .header__logo-link-text {
    display: none;
  }
}
.header__nav {
  position: relative;
  z-index: 10;
}
@media (max-width: 1024px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    pointer-events: none;
  }
}
@media (max-width: 1024px) {
  .header__nav.active {
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: all;
  }
}
.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .header__nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 360px;
    width: 100%;
    padding: 100px 16px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(110dvw);
            transform: translateX(110dvw);
    pointer-events: none;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
}
@media (max-width: 576px) {
  .header__nav-menu {
    max-width: none;
  }
}
.header__nav-menu-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 1024px) {
  .header__nav-menu-item {
    width: 100%;
  }
}
.header__nav-menu-item-link {
  display: inline-block;
  padding: 10px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #303030;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__nav-menu-item-link {
    width: 100%;
  }
}
.header__nav-menu-item-link:hover {
  color: #fd706c;
}
.header__nav-menu-item-link:active {
  color: #dd423d;
}
.header__nav-menu-item-button {
  display: inline-block;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #33363c;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__nav-menu-item-button {
    margin-left: 16px;
  }
}
.header__nav-menu-item-button:hover {
  background-color: #fd706c;
}
.header__nav-menu-item-button:active {
  background-color: #dd423d;
}
@media (max-width: 1024px) {
  .header__nav.active .header__nav-menu {
    -webkit-transform: translateX(0dvw);
            transform: translateX(0dvw);
    pointer-events: all;
  }
}
.header__join {
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__join-button {
  display: inline-block;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #33363c;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__join-button {
    margin-left: 16px;
  }
}
.header__join-button:hover {
  background-color: #fd706c;
}
.header__join-button:active {
  background-color: #dd423d;
}

.main {
  padding: 80px 0 0;
}

.first-screen {
  padding: 36px 0 0;
}
.first-screen__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 16px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #33363c;
  border-radius: 40px;
  background-color: #f9ecdb;
}
.first-screen__tag::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1/1;
  background: url(..//assets/icons/heart.svg) center/cover no-repeat;
}
.first-screen__title {
  max-width: 748px;
  margin: 24px auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  color: #33363c;
}
@media (max-width: 1024px) {
  .first-screen__title {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    margin: 24px auto 16px;
    font-size: 32px;
  }
}
.first-screen__description {
  max-width: 580px;
  margin: 24px auto;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #33363c;
}
@media (max-width: 1024px) {
  .first-screen__description {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .first-screen__description {
    margin: 16px auto 24px;
    font-size: 16px;
  }
}
.first-screen__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 0 0 24px;
}
@media (max-width: 576px) {
  .first-screen__download {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 24px 0 32px;
  }
}
.first-screen__download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: #000000;
}
@media (max-width: 576px) {
  .first-screen__download-link {
    width: 100%;
  }
}
.first-screen__download-link-image {
  display: block;
  max-width: 100%;
  width: 148px;
  height: auto;
}
.first-screen__phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -16px;
  padding: 0 16px;
  overflow: hidden;
}
.first-screen__phone::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  display: block;
  max-width: 1000px;
  width: 80%;
  aspect-ratio: 3/1;
  background: url(../assets/ellipse-fs.svg) center/cover no-repeat;
  -webkit-transform: translate3d(-50%, 40%, 0);
          transform: translate3d(-50%, 40%, 0);
  -webkit-filter: blur(80px);
          filter: blur(80px);
}
@media (max-width: 576px) {
  .first-screen__phone::before {
    display: none;
  }
}
.first-screen__phone-content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 506px;
  width: 100%;
  aspect-ratio: 506/430;
  margin: 0 auto;
  overflow: hidden;
}
.first-screen__phone-content-image {
  position: relative;
  z-index: 10;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.first-screen__phone-content-screen {
  position: absolute;
  z-index: 5;
  top: 24%;
  left: 4%;
  right: 4%;
  bottom: 0;
  aspect-ratio: 440/910;
  overflow: hidden;
}
.first-screen__phone-content-screen-image {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/screen1.jpg) top center no-repeat;
}
.first-screen__iherb {
  padding: 40px 0;
}
.first-screen__iherb-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 24px;
}
.first-screen__iherb-logo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.first-screen__iherb-text {
  max-width: 480px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #33363c;
}

.how-works {
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .how-works {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .how-works {
    padding: 40px 0;
  }
}
.how-works__tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #33363c;
  border-radius: 50px;
  background-color: #f9ecdb;
}
@media (max-width: 576px) {
  .how-works__tag {
    margin: 0 auto 16px;
  }
}
.how-works__title {
  margin: 0 0 80px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
}
@media (max-width: 1024px) {
  .how-works__title {
    margin-bottom: 60px;
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .how-works__title {
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }
}
.how-works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.how-works__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 24px;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 56px;
  background-color: #fafafa;
}
@media (max-width: 1024px) {
  .how-works__step {
    padding: 32px;
    border-radius: 32px;
  }
}
@media (max-width: 576px) {
  .how-works__step {
    padding: 16px;
    border-radius: 24px;
  }
}
.how-works__step-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #33363c;
}
@media (max-width: 1024px) {
  .how-works__step-info-title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .how-works__step-info-title {
    font-size: 24px;
  }
}
.how-works__step-info-title-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 70px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #33363c;
  border-radius: 70px;
}
@media (max-width: 576px) {
  .how-works__step-info-title-id {
    min-width: 40px;
    height: 40px;
    padding: 4px 8px;
    border-width: 2px;
  }
}
.how-works__step-info-description {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: #33363c;
}
@media (max-width: 1024px) {
  .how-works__step-info-description {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .how-works__step-info-description {
    font-size: 16px;
  }
}
.how-works__step-info-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 0;
}
.how-works__step__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how-works__step__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.how-works__step_first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1024px) {
  .how-works__step_first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.how-works__step_first .how-works__step-info, .how-works__step_first .how-works__step-figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
}
@media (max-width: 1024px) {
  .how-works__step_first .how-works__step-info, .how-works__step_first .how-works__step-figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.how-works__step_second, .how-works__step_third {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 12px);
          flex: 0 0 calc(50% - 12px);
}
@media (max-width: 1024px) {
  .how-works__step_second, .how-works__step_third {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.how-works__step_second {
  background-color: #f9ecdb;
  overflow: hidden;
}
.how-works__step_second .how-works__step-figure {
  overflow: hidden;
}
.how-works__step_second .how-works__step-figure-image.animate {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.supplements {
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .supplements {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .supplements {
    padding: 40px 0;
  }
}
.supplements__tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #33363c;
  border-radius: 50px;
  background-color: #f9ecdb;
}
@media (max-width: 576px) {
  .supplements__tag {
    margin: 0 auto 16px;
  }
}
.supplements__title {
  max-width: 560px;
  margin: 0 0 56px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
}
@media (max-width: 1024px) {
  .supplements__title {
    margin-bottom: 50px;
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .supplements__title {
    max-width: none;
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }
}
.supplements__slider {
  margin: 0 0 80px;
}
@media (max-width: 1024px) {
  .supplements__slider {
    margin: 0 0 64px;
  }
}
.supplements__slider .swiper-slide {
  height: auto;
}
.supplements__slide {
  display: block;
  height: 100%;
  padding: 32px 24px 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 56px;
}
@media (max-width: 1024px) {
  .supplements__slide {
    padding: 32px 16px 56px;
    border-radius: 36px;
  }
}
@media (max-width: 576px) {
  .supplements__slide {
    position: relative;
    padding: 24px;
    border-radius: 24px;
    overflow: hidden;
  }
}
.supplements__slide_first {
  background-color: #eaeed3;
}
.supplements__slide_second {
  background-color: #ececfb;
}
.supplements__slide_third {
  background-color: #f1d5b7;
}
.supplements__slide-icon {
  margin: 0 -24px 32px;
}
@media (max-width: 576px) {
  .supplements__slide-icon {
    position: absolute;
    right: -100px;
    bottom: 10px;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
}
.supplements__slide-icon-image {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .supplements__slide-icon-image {
    height: 140px;
    width: auto;
  }
}
.supplements__slide-title {
  max-width: 80%;
  margin: 0 auto 8px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #33363c;
}
@media (max-width: 1024px) {
  .supplements__slide-title {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .supplements__slide-title {
    position: relative;
    z-index: 10;
    margin: 0 0 16px;
    padding-right: 80px;
    font-size: 32px;
    text-align: left;
  }
}
.supplements__slide-subtitle {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #33363c;
}
@media (max-width: 576px) {
  .supplements__slide-subtitle {
    position: relative;
    z-index: 10;
    padding-right: 120px;
    font-size: 16px;
    text-align: left;
  }
}
.supplements__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.supplements__phone-image {
  display: block;
  max-width: 100%;
  width: 510px;
  height: auto;
}
@media (max-width: 576px) {
  .supplements__phone-image {
    width: 340px;
  }
}

.reviews {
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .reviews {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .reviews {
    padding: 40px 0;
  }
}
.reviews .container {
  max-width: 1632px;
}
.reviews__tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 0 auto 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #33363c;
  border-radius: 50px;
  background-color: #f9ecdb;
}
.reviews__title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
  text-align: center;
}
@media (max-width: 1024px) {
  .reviews__title {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .reviews__title {
    font-size: 32px;
  }
}
.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px;
}
.reviews__stars-image {
  display: block;
  max-width: 100%;
  width: 200px;
}
@media (max-width: 576px) {
  .reviews__stars-image {
    width: 140px;
  }
}
.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
.reviews__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
  min-height: 476px;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  border-radius: 56px;
}
@media (max-width: 1400px) {
  .reviews__review {
    padding: 24px;
    border-radius: 24px;
  }
}
@media (max-width: 1024px) {
  .reviews__review {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 12px);
            flex: 0 0 calc(50% - 12px);
    min-height: 320px;
  }
}
@media (max-width: 576px) {
  .reviews__review {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: auto;
    padding: 16px;
    border-radius: 16px;
  }
}
.reviews__review:nth-child(2) {
  margin-top: 92px;
}
@media (max-width: 1024px) {
  .reviews__review:nth-child(2) {
    margin-top: 0;
  }
}
.reviews__review-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 24px;
  color: #33363c;
}
@media (max-width: 1024px) {
  .reviews__review-text {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .reviews__review-text {
    font-size: 16px;
  }
}
.reviews__review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.reviews__review-user-avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 4px;
  border: 4px solid #cccccc;
  border-radius: 80px;
}
@media (max-width: 576px) {
  .reviews__review-user-avatar {
    padding: 3px;
    border-width: 3px;
  }
}
.reviews__review-user-avatar_first {
  border-color: #d6694c;
}
.reviews__review-user-avatar_second {
  border-color: #bdbe51;
}
.reviews__review-user-avatar_third {
  border-color: #82d1a6;
}
.reviews__review-user-avatar-image {
  display: block;
  max-width: 100%;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .reviews__review-user-avatar-image {
    width: 40px;
    height: 40px;
  }
}
.reviews__review-user-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #000;
}
@media (max-width: 1024px) {
  .reviews__review-user-name {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .reviews__review-user-name {
    font-size: 16px;
  }
}

.callback {
  background-color: #fcf7f0;
}
.callback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .callback__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .callback__content {
    padding: 40px 0;
  }
}
.callback__chat {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 582px;
          flex: 1 1 582px;
}
@media (max-width: 1024px) {
  .callback__chat {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.callback__chat-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.callback__chat-dots {
  position: absolute;
  top: 66%;
  left: 67%;
  display: block;
  max-width: 100%;
  width: 11%;
}
.callback__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 642px;
          flex: 1 1 642px;
}
@media (max-width: 1024px) {
  .callback__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.callback__info-tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #ffdca6;
  border-radius: 50px;
  background-color: #d6694c;
}
.callback__info-title {
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
}
@media (max-width: 1024px) {
  .callback__info-title {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .callback__info-title {
    font-size: 32px;
  }
}
.callback__info-form {
  position: relative;
}
.callback__info-form-input {
  display: inline-block;
  width: 100%;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 190px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #949494;
  border: none;
  border-radius: 40px;
}
@media (max-width: 576px) {
  .callback__info-form-input {
    padding: 16px 24px;
    padding-right: 170px;
    font-size: 16px;
    line-height: 164%;
  }
}
.callback__info-form-button {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  border: none;
  border-radius: 40px;
  background-color: #df9358;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .callback__info-form-button {
    padding: 8px 20px;
    font-size: 16px;
  }
}
.callback__info-form-button:hover {
  background-color: #cd7f43;
}
.callback__info-form-button:active {
  background-color: #cd7b3c;
}
.callback__landscape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback__landscape-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.needs {
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .needs {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .needs {
    padding: 40px 0;
  }
}
.needs__tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #33363c;
  border-radius: 50px;
  background-color: #f9ecdb;
}
@media (max-width: 576px) {
  .needs__tag {
    margin: 0 auto 16px;
  }
}
.needs__title {
  max-width: 700px;
  margin: 0 0 80px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
}
@media (max-width: 1024px) {
  .needs__title {
    margin-bottom: 60px;
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .needs__title {
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }
}
.needs__slider .swiper {
  overflow: visible;
}
@media (max-width: 1024px) {
  .needs__slider .swiper {
    overflow: hidden;
  }
}
.needs__slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 1024px) {
  .needs__slider .swiper-wrapper {
    -webkit-transform: none !important;
            transform: none !important;
  }
}
@media (max-width: 1024px) {
  .needs__slider .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}
.needs__slider .swiper-slide {
  height: auto;
}
.needs__slider .swiper-slide:nth-child(2), .needs__slider .swiper-slide:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.4%;
          flex: 0 0 43.4%;
  max-width: 43.4%;
}
@media (max-width: 1024px) {
  .needs__slider .swiper-slide:nth-child(2), .needs__slider .swiper-slide:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: none;
  }
}
.needs__slider .swiper-slide:nth-child(1), .needs__slider .swiper-slide:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(56.6% - 24px);
          flex: 0 0 calc(56.6% - 24px);
  max-width: calc(56.6% - 24px);
}
@media (max-width: 1024px) {
  .needs__slider .swiper-slide:nth-child(1), .needs__slider .swiper-slide:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: none;
  }
}
.needs__slider .swiper-pagination {
  display: none;
}
@media (max-width: 1024px) {
  .needs__slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 6px;
  }
}
.needs__slider .swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 !important;
  width: 10px;
  height: 10px;
  background-color: #81013a;
  border-radius: 10px;
  -webkit-transition: width ease-in-out 0.3s;
  transition: width ease-in-out 0.3s;
}
.needs__slider .swiper-pagination-bullet-active {
  width: 24px;
}
.needs__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 56px;
  background-color: #ffeacb;
}
@media (max-width: 1024px) {
  .needs__slide {
    padding: 56px 32px;
    border-radius: 32px;
  }
}
@media (max-width: 576px) {
  .needs__slide {
    padding: 56px 24px;
    border-radius: 24px;
  }
}
.needs__slide-title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #33363c;
}
@media (max-width: 1024px) {
  .needs__slide-title {
    font-size: 32px;
  }
}
.needs__slide-subtitle {
  max-width: 400px;
  margin: 0 auto 56px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #33363c;
}
@media (max-width: 1024px) {
  .needs__slide-subtitle {
    margin: 0 auto 32px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .needs__slide-subtitle {
    margin: 0 auto 16px;
    font-size: 16px;
  }
}
.needs__slide-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.needs__slide-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.needs__slide_first {
  background-color: #ececfb;
}
.needs__slide_first .needs__slide-figure {
  position: relative;
}
.needs__slide_first .needs__slide-figure-dots {
  position: absolute;
  top: 54%;
  left: 37%;
  display: block;
  max-width: 100%;
  width: 11%;
}
.needs__slide_second {
  background-color: #f1d5b7;
}
.needs__slide_second .needs__slide-figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 -56px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .needs__slide_second .needs__slide-figure {
    margin: 0 -32px;
  }
}
@media (max-width: 576px) {
  .needs__slide_second .needs__slide-figure {
    margin: 0 -24px;
  }
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.needs__slide_second .needs__slide-figure-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 2742px;
  -webkit-animation: scroll linear 22s infinite;
          animation: scroll linear 22s infinite;
  will-change: transform;
}
@media (max-width: 576px) {
  .needs__slide_second .needs__slide-figure-images {
    min-width: 2164px;
  }
}
.needs__slide_second .needs__slide-figure-images-item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  width: 1371px;
  height: 304px;
}
@media (max-width: 576px) {
  .needs__slide_second .needs__slide-figure-images-item {
    width: 1082px;
    height: 240px;
  }
}
.needs__slide_third {
  padding-bottom: 0;
  background-color: #bdbe51;
}
.needs__slide_third .needs__slide-title, .needs__slide_third .needs__slide-subtitle {
  color: #ffffff;
}
.needs__slide_third .needs__slide-subtitle {
  margin: 0 auto;
}
.needs__slide_third .needs__slide-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: -56px -56px 0;
}
@media (max-width: 1024px) {
  .needs__slide_third .needs__slide-figure {
    margin: -32px -32px 0;
  }
}
@media (max-width: 576px) {
  .needs__slide_third .needs__slide-figure {
    margin: -24px -24px 0;
  }
}
.needs__slide_fourth {
  padding-bottom: 0;
  background-color: #fd706c;
}
.needs__slide_fourth .needs__slide-title, .needs__slide_fourth .needs__slide-subtitle {
  color: #ffffff;
}
.needs__slide_fourth .needs__slide-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 -56px;
}
@media (max-width: 1024px) {
  .needs__slide_fourth .needs__slide-figure {
    margin: 0 -32px;
  }
}
@media (max-width: 576px) {
  .needs__slide_fourth .needs__slide-figure {
    margin: 0 -24px;
  }
}

.wellness {
  padding: 80px 0;
}
@media (max-width: 1024px) {
  .wellness {
    padding: 60px 0;
  }
}
@media (max-width: 576px) {
  .wellness {
    padding: 40px 0;
  }
}
.wellness__tag {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 162%;
  color: #33363c;
  border-radius: 50px;
  background-color: #f9ecdb;
}
@media (max-width: 576px) {
  .wellness__tag {
    margin: 0 auto 16px;
  }
}
.wellness__title {
  max-width: 800px;
  margin: 0 0 80px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
}
@media (max-width: 1024px) {
  .wellness__title {
    margin-bottom: 60px;
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .wellness__title {
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .wellness__slider {
    margin: 0 -16px;
  }
}
.wellness__slider .swiper {
  overflow: visible;
}
@media (max-width: 1024px) {
  .wellness__slider .swiper {
    overflow: hidden;
  }
}
.wellness__slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 1024px) {
  .wellness__slider .swiper-wrapper {
    -webkit-transform: none !important;
            transform: none !important;
  }
}
@media (max-width: 1024px) {
  .wellness__slider .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
}
.wellness__slider .swiper-slide {
  height: auto;
}
.wellness__slider .swiper-slide:nth-child(1), .wellness__slider .swiper-slide:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43.4%;
          flex: 0 0 43.4%;
}
@media (max-width: 1024px) {
  .wellness__slider .swiper-slide:nth-child(1), .wellness__slider .swiper-slide:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.wellness__slider .swiper-slide:nth-child(2), .wellness__slider .swiper-slide:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(56.6% - 24px);
          flex: 0 0 calc(56.6% - 24px);
}
@media (max-width: 1024px) {
  .wellness__slider .swiper-slide:nth-child(2), .wellness__slider .swiper-slide:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.wellness__slide {
  height: 100%;
  padding: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 56px;
  background-color: #ffeacb;
}
@media (max-width: 1024px) {
  .wellness__slide {
    padding: 32px;
    border-radius: 32px;
  }
}
@media (max-width: 576px) {
  .wellness__slide {
    padding: 24px;
    border-radius: 24px;
  }
}
.wellness__slide-title {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 40px;
  color: #33363c;
}
@media (max-width: 1024px) {
  .wellness__slide-title {
    font-size: 32px;
  }
}
.wellness__slide-subtitle {
  margin: 0 0 56px;
  font-weight: 500;
  font-size: 24px;
  color: #33363c;
}
@media (max-width: 1024px) {
  .wellness__slide-subtitle {
    margin: 0 0 32px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .wellness__slide-subtitle {
    margin: 0 0 16px;
    font-size: 16px;
  }
}
.wellness__slide-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wellness__slide-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .wellness__slide-figure-image {
    max-height: 210px;
  }
}
.wellness__slide_first {
  background-color: #ffeacb;
}
.wellness__slide_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #ececfb;
}
.wellness__slide_second .wellness__slide-subtitle {
  margin-bottom: 0;
}
.wellness__slide_second .wellness__slide-figure {
  margin-bottom: 56px;
}
@media (max-width: 1024px) {
  .wellness__slide_second .wellness__slide-figure {
    margin: 0 0 32px;
  }
}
@media (max-width: 576px) {
  .wellness__slide_second .wellness__slide-figure {
    margin: 0 0 16px;
  }
}
.wellness__slide_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #eaeed3;
}
.wellness__slide_third .wellness__slide-subtitle {
  margin-bottom: 0;
}
.wellness__slide_third .wellness__slide-figure {
  margin-bottom: 56px;
}
@media (max-width: 1024px) {
  .wellness__slide_third .wellness__slide-figure {
    margin: 0 0 32px;
  }
}
@media (max-width: 576px) {
  .wellness__slide_third .wellness__slide-figure {
    margin: 0 0 16px;
  }
}
.wellness__slide_fourth {
  background-color: #ffd9d8;
}

.info-page {
  padding: 80px 0;
}
@media (max-width: 576px) {
  .info-page {
    padding: 40px 0;
  }
}
.info-page h2 {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #33363c;
}
.info-page h3 {
  margin: 40px 0 16px;
  font-weight: 700;
  font-size: 32px;
  color: #33363c;
}
.info-page h4 {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 16px;
  color: #33363c;
}
.info-page p {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  color: #33363c;
}
.info-page p b {
  font-weight: 700;
}
.info-page ul {
  margin: 0 0 16px;
  padding-left: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #33363c;
}
.info-page__disclaimer {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid #e4e4e4;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18px 56px;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 440px;
          flex: 0 1 440px;
}
@media (max-width: 768px) {
  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__info-logo {
  position: relative;
  z-index: 10;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__info-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}
.footer__info-logo-link-image {
  display: block;
  max-width: 100%;
  width: 60px;
  height: auto;
}
.footer__info-logo-link-text {
  display: inline-block;
  font-weight: 900;
  font-size: 24px;
  line-height: 108%;
  color: #303030;
}
.footer__info-text {
  margin: 24px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #303030;
}
.footer__details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 376px;
          flex: 0 0 376px;
}
@media (max-width: 768px) {
  .footer__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.footer__details-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.footer__details-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 16px);
          flex: 0 0 calc(33.3333333333% - 16px);
  padding: 10px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  background-color: #fcf7f0;
}
.footer__details-social-link-image {
  display: block;
  max-width: 100%;
  width: 24px;
  height: auto;
}
.footer__details-title {
  padding: 56px 0 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 108%;
  color: #303030;
}
.footer__details-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.footer__details-download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 8px);
          flex: 0 0 calc(50% - 8px);
  padding: 4px 16px;
  min-height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: #000000;
}
@media (max-width: 576px) {
  .footer__details-download-link {
    min-height: 50px;
  }
}
.footer__details-download-link-image {
  display: block;
  max-width: 100%;
  width: 148px;
  height: auto;
}
.footer__copiright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding: 32px 0;
  border-top: 1px solid #d0d0d0;
}
@media (max-width: 768px) {
  .footer__copiright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
.footer__copiright-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #303030;
}
.footer__copiright-item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__copiright-item-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: inherit;
}