.needs {
  padding: 80px 0;

  @include laptop {
    padding: 60px 0;
  }

  @include mobile {
    padding: 40px 0;
  }

  &__tag {
    display: block;
    width: fit-content;
    padding: 8px 16px;
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 162%;
    color: #fbb6d5;
    border-radius: 50px;
    background-color: #81013a;

    @include mobile {
      margin: 0 auto 16px;
    }
  }

  &__title {
    max-width: 700px;
    margin: 0 0 80px;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #33363c;

    @include laptop {
      margin-bottom: 60px;
      font-size: 48px;
    }

    @include mobile {
      margin-bottom: 40px;
      font-size: 32px;
      text-align: center;
    }
  }

  &__slider {
    & .swiper {
      overflow: visible;

      @include laptop {
        overflow: hidden;
      }

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        @media (min-width: 1024px) {
          transform: none !important;
        }

        @include laptop {
          flex-wrap: nowrap;
          gap: 0;
        }
      }

      &-slide {
        height: auto;

        &:nth-child(2),
        &:nth-child(3) {
          flex: 0 0 calc(43.4%);

          @include laptop {
            flex: 0 0 auto;
          }
        }

        &:nth-child(1),
        &:nth-child(4) {
          flex: 0 0 calc(100% - 43.4% - 24px);

          @include laptop {
            flex: 0 0 auto;
          }
        }
      }

      &-pagination {
        display: none;

        @include laptop {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 6px;
        }

        &-bullet {
          flex: 0 0 auto;
          margin: 0 !important;
          width: 10px;
          height: 10px;
          background-color: #81013a;
          border-radius: 10px;
          transition: width ease-in-out 0.3s;

          &-active {
            width: 24px;
          }
        }
      }
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 56px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 56px;
    background-color: #ffeacb;

    @include laptop {
      padding: 56px 32px;
      border-radius: 32px;
    }

    @include mobile {
      padding: 56px 24px;
      border-radius: 24px;
    }

    &-title {
      margin: 0 0 8px;
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      color: #33363c;

      @include laptop {
        font-size: 32px;
      }
    }

    &-subtitle {
      max-width: 400px;
      margin: 0 auto 56px;
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      color: #33363c;

      @include laptop {
        margin: 0 auto 32px;
        font-size: 20px;
      }

      @include mobile {
        margin: 0 auto 16px;
        font-size: 16px;
      }
    }

    &-figure {
      display: flex;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &_first {
      background-color: #ececfb;
    }

    &_second {
      background-color: #f1d5b7;
    }

    &_second &-figure {
      margin: 0 -56px;

      @include laptop {
        margin: 0 -32px;
      }

      @include mobile {
        margin: 0 -24px;
      }
    }

    &_third {
      padding-bottom: 0;
      background-color: #bdbe51;
    }

    &_third &-title,
    &_third &-subtitle {
      color: #ffffff;
    }

    &_third &-subtitle {
      margin: 0 auto;
    }

    &_third &-figure {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex: 1 1 auto;
      margin: -56px -56px 0;

      @include laptop {
        margin: -32px -32px 0;
      }

      @include mobile {
        margin: -24px -24px 0;
      }
    }

    &_fourth {
      padding-bottom: 0;
      background-color: #fd706c;
    }

    &_fourth &-title,
    &_fourth &-subtitle {
      color: #ffffff;
    }

    &_fourth &-figure {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex: 1 1 auto;
      margin: 0 -56px;

      @include laptop {
        margin: 0 -32px;
      }

      @include mobile {
        margin: 0 -24px;
      }
    }
  }
}
